@{
    ViewData["Title"] = "Home Page";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/MyApiClient.js"></script>
<div class="text-center">
    <h1 class="display-4">Willkommen auf der REST-Client Seite</h1>
    <button id="GetToDos">GET</button>
    <button id="PostToDos">Post</button>
</div>
